{%extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block styles %} {{super()}}
<link rel="preconnect" href="https://fonts.gstatic.com">


<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> {% endblock %} {%block content%}

<div class='container bg-info'>
    <div class='button'>
    </div>

    <div class="text-center">
        <h1>{{tittle}}</h1>
        <p> Composing customer-facing messages can be daunting for some individuals. Speaking on the phone is one thing but having to put their thoughts in writing is another.Businesses can prepare by creating templates for the most common types of communication
            a business sends.</p>
    </div>
    <div class="text-center">
        <h1>{{story}}</h1>
        <p> We created Tailor Brands with the mission of democratizing branding, and making it simple for anyone to get their business off the ground. We want to empower businesses, by making people believe in them. And we do this by giving everyone access
            to good branding and design.</p>
    </div>

</div>
<div class="container">
    <div class="brands">
        <h1> <em>200k</em> </h1>
        <p>Number of Kreative Brands users around the world</p>
    </div>
    <div class="designs">
        <h1> <em>5k</em> </h1>
        <p>Number of designs created by our designers.

        </p>
    </div>
    <div class="workers">
        <h1> <em>100</em> </h1>
        <p>Number of workers in Kenya

        </p>
    </div>
</div>

</div>
</div>
{%endblock%}