

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">KreativeBrands</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.about')}}">About</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UpperBody Apparel <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('main.tshirt')}}">T-shirts</a></li>
              <li><a href="/hoodies">Hoodies</a></li>
              <li><a href="/masks">Masks</a></li>
              <li><a href="/jerseys">Jerseys</a></li>
              
            </ul>
          </li>
          <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LowerBody Apparel <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Shorts">Shorts</a></li>
            <li><a href="{{url_for('main.shoes')}}">Shoes</a></li> 
            <li><a href="/categories/Socks">Socks</a></li>
            <li><a href="/categories/Sweatpants">Sweatpants</a></li>
            
        </ul>
      </li>
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">KitchenWare<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/categories/Cups">Cups</a></li>
          <li><a href="/categories/Plates">Plates</a></li>
          <li><a href="/categories/Mugs">Mugs</a></li>
          <li><a href="/categories/Bottles">Bottles</a></li>
          <li role="separator" class="divider"></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.placeorder')}}">Place Order</a>
      </li>
        </ul>
        <ul class="nav navbar-nav pull-right ">
            {% if current_user.is_authenticated %}
            
            <li class="nav-item">
              <a class="nav-link"  href="{{url_for('main.profile', name=current_user.username)}}">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a>
            </li>
          
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.login')}}">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.register')}}">Sign up</a>
              </li>
            {%endif%}
          </ul>
        </ul>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
