
<header>
    <div class="container thenav">
        <div class="col-md-2"></div>
        <div class="col-md-8 row">
            <h3 class="myner"><span style="color: black;">Kreat</span><span style="color: rgba(188, 0, 0, 1);">ive</span><span style="color: rgba(0, 102, 0, 1);">Brands</span></h3>

            <span class=" mright navbar-right">
                <span><a href="/" style="color: rgba(0, 102, 0, 1);">Home</a></span>
                <span><a href="{{url_for('main.about')}}" style="color: rgba(0, 102, 0, 1);">About</a></span>
                {% if current_user.is_authenticated %}
                <span ><i class="fas fa-user"></i>&nbsp;<strong>{{current_user.username}}</strong></span>
                <span><a style="color: rgba(0, 0, 0, 0.7);" href="{{url_for('main.profile', name=current_user.username)}}">My Profile</a></span>
                <span><a href="{{url_for('auth.logout')}}"><button>Sign out</button></a></span>
                {% else %}
                <span><a href="{{url_for('auth.login')}}"><button>Sign in</button></a></span>
                <span><a href="{{url_for('auth.register')}}"><button>Sign up</button></a></span>
                {%endif%}
                
            </span>

        </div>
        <div class="col-md-2"></div>
    </div>
</header>